<h1>Your Entries</h1>

<div class="row">
  <% for entry in @entries %>
    <div class="col-3">
      <h4>
        <%# Display the name of the user that created the post: %>
        <%# 1. find user who created post %>
        <% user = User.find_by({ "id" => post["user_id"] }) %>
        <%# 2. handle any potential bad data where the post is missing a user %>
        <% if user != nil %>
          <%= user["first_name"] %>
        <% else %>
          anonymous
        <% end %>
      <li>
        <strong><%= entry.title %></strong> - <%= entry.occurred_on.strftime("%-m/%d/%y") %>
        <p><%= entry.description %></p>
        <a href="<%= entry_path(entry) %>">View Entry</a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No entries found. <a href="<%= new_entry_path %>">Create one</a>.</p>
<% end %>