<h1>Your Entries</h1>

<% if @entries.any? %>
  <ul>
    <% @entries.each do |entry| %>
      <li>
        <strong><%= entry.title %></strong> - <%= entry.occurred_on.strftime("%-m/%d/%y") %>
        <p><%= entry.description %></p>
        <a href="<%= entry_path(entry) %>">View Entry</a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No entries found. <a href="<%= new_entry_path %>">Create one</a>.</p>
<% end %>